.col i {
    font-size: 3rem;
}

.pdf-icon {
    font-size: 1.5rem;
}

@media (max-device-width: 600px) {
    .mobile {
        font-size: smaller;
        text-align: center;
    }
    h4 a {
        font-size:medium;
    }
    .pdf-icon {
        font-size: medium;
    }
}